.shower {
    --slide-ratio: calc(16 / 9);
    --progress-size: 7px;
    --title: #d587eb;
    --text: #d6d6d6;
    --background: #282c35;

    color: var(--text);
}

.progress {
    bottom: auto;
}

.progress::before {
    transform: none;
    background: var(--title);
}

.slide {
    background: var(--background);
}

.slide::after {
    background-image: none;
    color: var(--text);
}

.slide h2 {
    text-transform: uppercase;
    letter-spacing: 3px;
    color: var(--title);
}

.icon {
    width: var(--icon-width);
    height: var(--icon-width);
    display: block;
    position: relative;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: 65%;
    background-color: var(--title);
    background-position: center;
}
.icon::before {
    content: "";
    width: calc(100% + 8px);
    height: calc(100% + 8px);
    border-radius: 50%;
    position: absolute;
    top: -6px;
    left: -6px;
    border: 2px dashed var(--title);
}

.center p {
    text-align: center;
    margin-top: 180px;
    font-size: 40px;
    text-transform: uppercase;
}

.slide.workflow ol {
    display: flex;
    justify-content: center;
    margin-top: 150px;
}

.slide.workflow li {
    font-size: 40px;
}

.slide.workflow li:not(:first-child) {
    margin-left: 90px;
}

.slide.workflow li::before {
    content: "→";
    color: var(--text);
}
.slide.workflow li:first-child::before {
    display: none;
}
.slide.workflow li.unicorn::before {
    display: none;
}
.slide.workflow li.unicorn {
    --icon-width: 350px;

    width: var(--icon-width);
    height: var(--icon-width);
    margin: 0;
    background-image: url(../pictures/unicorn.svg);
    position: absolute;
    top: 34%;
}
